<?xml version="1.0" encoding="utf-8"?>
<manifest package="me.vickychijwani.popularmovies"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".PopularMoviesApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.MoviesActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.MovieDetailsActivity"
            android:label="@string/title_activity_movie_details"
            android:parentActivityName=".ui.MoviesActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.vickychijwani.popularmovies.ui.MoviesActivity"/>
        </activity>

        <activity
            android:name=".ui.ReviewActivity"
            android:label="@string/title_activity_review"
            android:parentActivityName=".ui.MovieDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.vickychijwani.popularmovies.ui.MovieDetailsActivity"/>
        </activity>

    </application>

</manifest>
